NEXT_PUBLIC_SUPABASE_URL=https://*.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STORAGE_URL=https://*.supabase.co/storage/v1/object/public/profile_pictures/
NEXT_PUBLIC_BASE_URL=https://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_KEY=<google_maps_console_api_key>
